body, html {
    background: #000 url('bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font: 12px/1.8 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

#container {
    background: rgba(0, 0, 0, .75);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 533px;
    margin: -286px 0 0 -420px;
}

#left {
    width: 360px;
    margin-right: 40px;
    float: left;
}

p {
    margin-top: 12px;
}

img {
    display: block;
    float: right;
}

h1 {
    width: 230px;
    height: 27px;
    text-indent: -99999em;
    background: url('logo.png') 0 0 no-repeat;
    margin-top: 12px;
}

h3 {
    font-size: 16px;
    margin: 15px 0;
    line-height: 25px;
}

a#button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    background: url('./button-bg.png') no-repeat;
    margin: 15px 0;
    text-decoration: none;
}
    a#button span {
        display: inline-block;
        height: 40px;
        padding: 0 15px;
        background: url('./button-cap.png') right no-repeat;
    }
    
    a#button:hover, a#button:hover span {
        background-position-y: -40px;
    }
    
    a#button:active, a#button:active span {
        background-position-y: -80px;
    }

h1 {
    margin: 0;
}

@media handheld {
    img {
        float: none;
        position: absolute;
        top: 97px;
    }
    
    #left {
        float: none;
        width: 100%;
        font-size: 13px;
    }
    
    #left p:first-of-type {
        margin-top: 553px;
    }
    
    #container {
        height: auto;
        width: 400px;
        position: relative;
        margin: 0 auto;
        left: 0;
        top: 0;
    }
    
    body {
        padding: 20px;
    }
}
