body, html {
    background: #000 url('bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font: 12px/1.8 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

#container {
    background: rgba(0, 0, 0, .75);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 533px;
    margin: -286px 0 0 -420px;
}

#left {
    width: 360px;
    margin-right: 40px;
    float: left;
}

p {
    margin-top: 12px;
}

img {
    display: block;
    float: right;
}

h1 {
    font-size: 35px;
    line-height: 1;
}

h3 {
    font-size: 17px;
    margin-top: 10px;
}

a#button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    background: url('./button-bg.png') no-repeat;
    margin-top: 12px;
    text-decoration: none;
}
    a#button span {
        display: inline-block;
        height: 40px;
        padding: 0 15px;
        background: url('./button-cap.png') right no-repeat;
    }
    
    a#button:hover, a#button:hover span {
        background-position-y: -40px;
    }
    
    a#button:active, a#button:active span {
        background-position-y: -80px;
    }
